<a href="https://colab.research.google.com/github/yejijang-analyst/ESAA_note/blob/main/1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[개념정리]**

# **Numpy**

- 루프를 사용하지 않고 대량 데이터의 빠른 배열 연산 속도를 가능하게 하는 패키지  

--------

# **넘파이 ndarray**

- array() 함수의 인자로는 파이썬의 리스트 객체가 주로 사용.
  - 리스트 []는 1차원이고, 리스트의 [[ ]]는 2차원과 같은 형태로 배열의 차원과 크기를 표현
- 연산의 특성상 같은 데이터 타입만 가능(리스트: 서로 다른 데이터 타입 가능)
  - 만약 다른 데이터 유형이 섞여 있는 리스트를 ndarray로 변경하면 데이터 크기가 더 큰 데이터 타입으로 형 변환을 일괄 적용.


---

1) arange()
- range()와 유사한 기능으로 1차원 ndarray 생성
- 0부터 함수 인자 값 -1까지의 값을 순차적으로 ndarray 데이터 값으로 변환

2) zeros()
- 모든 값은 0으로 채운 해당 shape을 가진 ndarray로 반환

3)axis
- axis0이 로우방향 축,  axis1이 칼럼 방향 축

4) 행렬정렬
- np.sort() : 넘파이에서 sort()를 호출하는 방식
  - 원행렬은 그래도 유지한 채 원행렬의 정렬된 행렬을 반환
- ndarray.sort() : 행렬자체에서 sort()를 호출하는 방식.
 - 원행렬 자체를 정렬한 형채로 반환하며 반환 값은 None.

# **[필사]**

In [1]:
import numpy as np

In [3]:
array1 = np.array([1, 2, 3])
print('array1 type:', type(array1))
print('array1 array 형태:', array1.shape)

array2 = np.array([[1,2,3],
                  [4,5,6]])
print('array2 type:', type(array2))
print('array2 array 형태:', array2.shape)

array3 = np.array([[1, 2, 3]])
print('array3 type:', type(array3))
print('array3 array 형태:', array3.shape)

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [4]:
print('array1 : {:0}차원, array2 : {:1}차원, array3 : {:2}차원'.format(array1.ndim,array2.ndim,array3.ndim))

array1 : 1차원, array2 : 2차원, array3 :  2차원

In [6]:
list1 = [1,2,3]
print(type(list1))
array1 = np.array(list1)
print(type(array1))
print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [7]:
list2 = [1, 2, 'test']
array2 = np.array(list2)
print(array2, array2.dtype)

list3 = [1, 2, 3.0]
array3 = np.array(list3)
print(array3, array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [11]:
#astype() 를 통하여 ndarray 내 데이터 값의 타입 변경.

array_int = np.array([1,2,3])
array_float = array_int.astype('float64')
print(array_float, array_float.dtype)

array_int1 = array_float.astype('int32')
print(array_int1, array_int1.dtype)

array_float1 = np.array([1.1,2.1,3.1])
array_float1 = array_float1.astype('int32')
print(array_float1, array_float1.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

In [13]:
#arange()
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype , sequence_array.shape )

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [21]:
#zeros()
zero_array = np.zeros((3,2), dtype = 'int32')
print(zero_array)
print(zero_array.dtype, zero_array.shape)

#ones
one_array= np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

In [11]:
#reshape()
array1 = np.arange(10)
print('array1:\n', array1)

array2 = array1.reshape(2,5)
print('array1:\n', array2)

array3 = array1.reshape(5,2)
print('array1:\n', array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array1:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array1:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [ ]:
array1.reshape(4.3)

In [13]:
array1 = np.arange(10)
print(array1)
array2 = array1.reshape(-1,5)
print('array2 shape:', array2.shape)
array3 = array1.reshape(5,-1)
print('array3 shape:', array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape: (5, 2)

In [15]:
array1 = np.arange(10)
array4 = array1.reshape(-1,4)

ValueError: ignored

In [20]:
#reshape(-1,1) 어떤 형태라도 2차원으로 변환됨을 보장

array1 = np.arange(8)
array3d = array1.reshape((2,2,2))
print('array3d:\n', array3d.tolist())  #tolist() 리스트 자료형으로 변환

#3차원 ndarray를 2차원 ndarray로 변환
array5 = array3d.reshape(-1,1)
print('array5:\n', array5.tolist())
print('array5 shape:', array5.shape)

#1차원 ndarray를 2차원 ndarray로 변환
array6 = array1.reshape(-1,1)
print('array6:\n', array6.tolist())
print('array6 shape:', array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)

In [22]:
#1부터 9까지의 1차원 ndarray 생성
array1 = np.arange(start=1, stop=10)
print('array1:', array1)
#index는 0부터 시작하므로 array1[2]는 3번째 index 위치의 데이터값을 의미
value = array1[2]
print('value:', value)
print(type(value)) # ndarray 내의 데이터값

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [23]:
print('맨 뒤의 값:', array1[-1], '맨 뒤에서 두 번째 값:', array1[-2])

맨 뒤의 값: 9 맨 뒤에서 두 번째 값: 8

In [24]:
array1[0] = 9
array1[8] = 0
print('array1:', array1)

array1: [9 2 3 4 5 6 7 8 0]

In [4]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print(array2d)

print('(row=0 col=0) index 가리키는 값:', array2d[0,0])
print('(row=0 col=1) index 가리키는 값:', array2d[0,1])
print('(row=1 col=0) index 가리키는 값:', array2d[1,0])
print('(row=2 col=2) index 가리키는 값:', array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0 col=0) index 가리키는 값: 1
(row=0 col=1) index 가리키는 값: 2
(row=1 col=0) index 가리키는 값: 4
(row=2 col=2) index 가리키는 값: 9

In [5]:
array1 = np.arange(start=1, stop=10)
array3 = array1[0:3]
print(array3)
print(type(array3))

[1 2 3]
<class 'numpy.ndarray'>

In [6]:
array1 = np.arange(start=1, stop=10)
array4 = array1[:3]
print(array4)

array5 = array1[3:]
print(array5)

array6 = array1[:]
print(array6)

[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [13]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print('array2d:\n', array2d)

print('array2d[0:2,0:2]\n', array2d[0:2,0:2])
print('array2d[1:3,0:3]\n', array2d[1:3,0:3])
print('array2d[1:3,:]\n', array2d[1:3,:])
print('array2d[:,:]\n', array2d[:,])
print('array2d[:2,1:]\n', array2d[:2,1:])
print('array2d[:2,0]\n', array2d[:2,0])
 # 한쪽에만 슬라이싱을 적용하고 다른쪽 축에는 단일 값 인덱스를 적용
# [1 4]-> 2차원에서 뒤에오는 인덱스를 없애면 1차원 ndarray 반환

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2,0:2]
 [[1 2]
 [4 5]]
array2d[1:3,0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3,:]
 [[4 5 6]
 [7 8 9]]
array2d[:,:]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2,1:]
 [[2 3]
 [5 6]]
array2d[:2,0]
 [1 4]
(2,)

In [14]:
print(array2d[0]) # 2차원에서 뒤에 오는 인덱스를 없애면 axis0 의 첫번째 로우, 1차원 반환.
print(array2d[1])
print('array2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape)

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

In [15]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)

array3 = array2d[[0,1],2]
print('array2d[[0,1],2] =>', array3.tolist())

array4 = array2d[[0,1],0:2]
print('array2d[[0,1],0:2] =>', array4.tolist())

array5 = array2d[[0,1]]
print('array2d[[0,1]] =>', array5.tolist())

array2d[[0,1],2] => [3, 6]
array2d[[0,1],0:2] => [[1, 2], [4, 5]]
array2d[[0,1]] => [[1, 2, 3], [4, 5, 6]]

In [16]:
array1d = np.arange(start=1, stop=10)
#[] 안에 array1d > 5 Boolean indexing 을 적용
array3 = array1d[array1d > 5]
print('array1d > 5  불린 인덱싱 결과 값:', array3)

array1d > 5  불린 인덱싱 결과 값: [6 7 8 9]

In [20]:
array1d > 5

boolean_indexs = np.array([False, False, False, False, False,  True,  True,  True,  True])
array3 = array1d[boolean_indexs]
print(' 불린 인덱스로 필터링 결과 :', array3)

indexes = np.array([5,6,7,8])
array4 = array1d[indexes]
print(' 일반 인덱스로 필터링 결과 :', array4)

 불린 인덱스로 필터링 결과 : [6 7 8 9]
 일반 인덱스로 필터링 결과 : [6 7 8 9]

In [25]:
org_array = np.array([3,1,5,9])
print('원본 행렬:', org_array)
#np.sort()로 정렬
sort_array1 = np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬행렬:', sort_array1)
print('np.sort() 호출 후 반환된 원본행렬:', org_array)

#ndarray.sort()로 정렬
sort_array2 = org_array.sort()
print('org_array.sort() 호출 후 반환된 정렬행렬:', sort_array2)
print('org_array.sort() 호출 후 반환된 원본행렬:', org_array)

원본 행렬: [3 1 5 9]
np.sort() 호출 후 반환된 정렬행렬: [1 3 5 9]
np.sort() 호출 후 반환된 원본행렬: [3 1 5 9]
org_array.sort() 호출 후 반환된 정렬행렬: None
org_array.sort() 호출 후 반환된 원본행렬: [1 3 5 9]

In [27]:
sort_array1_desc = np.sort(org_array)[::-1]
print('내림차순으로 정렬:', sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [29]:
array2d = np.array([[8,12]
                    ,[7, 1]])

sort_array2d_axis0 = np.sort(array2d, axis=0)
print('로우 방향으로 정렬:\n', sort_array2d_axis0 )

sort_array2d_axis1 = np.sort(array2d, axis=1)
print('칼럼 방향으로 정렬:\n', sort_array2d_axis1 )

(2, 2)
로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
칼럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [33]:
#np.ardsort()
org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]

In [32]:
org_array = np.array([3,1,9,5])
sort_indices_desc = np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [35]:
name_array = np.array(['John', 'Mike', 'Sarah', 'Kate', 'Samuel'])
score_array = np.array([78, 95, 84, 98, 88])

sort_indices_acs = np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:', sort_indices_acs)
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_acs])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

In [37]:
A = np.array([[1,2,3],
              [4,5,6]])
B = np.array([[7,8],
              [9,10],
              [11,12]])

dot_product = np.dot(A,B)
print('행렬 내적 결과:\n', dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

In [38]:
A = np.array([[1,2],
              [3,4]])
transpose_mat = np.transpose(A)
print('A의 전치행렬:\n', transpose_mat)

A의 전치행렬:
 [[1 3]
 [2 4]]